package partials

import "fmt"

templ Card(maxWidth int) {
    <div
        class="card"
        style={ maxWidthStyles(maxWidth) }
    >
        { children... }
    </div>
}

func maxWidthStyles(maxWidth int) string {
    if maxWidth > 0 {
        return fmt.Sprintf("max-width: %dpx; width: 100%%;", maxWidth)
    }

    return ""
}