// @type: shared
// @id: contacts_block
// @title: Контакты

// @field telegram: string = "Nickname"
// @field phone: string = "89997777777"

package partials

templ Contacts() {
    <div>Telegram: @hopstee</div>
    <div>Телефон: 89997777777</div>
}