@import "./tokens.css";

@import "./base.css";
@import "./animations.css";

@import "./components/button.css";
@import "./components/card.css";
@import "./components/input.css";
@import "./components/post.css";
@import "./components/textarea.css";

/* :root {
	--black: oklch(0.3414 0.0277 267.86);
	--gray: oklch(0.6074 0.0395 266.12);
	--gray-light: oklch(0.933 0.0104 261.79);
	--gray-dark: oklch(0.2817 0.0313 266.12);
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

	--radius: .625rem;
	--background: oklch(100% 0 0);
	--foreground: oklch(14.5% 0 0);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(14.5% 0 0);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(14.5% 0 0);
	--primary: oklch(20.5% 0 0);
	--primary-foreground: oklch(98.5% 0 0);
	--secondary: oklch(97% 0 0);
	--secondary-foreground: oklch(20.5% 0 0);
	--muted: oklch(97% 0 0);
	--muted-foreground: oklch(55.6% 0 0);
	--accent: oklch(97% 0 0);
	--accent-foreground: oklch(20.5% 0 0);
	--destructive: oklch(57.7% .245 27.325);
	--border: oklch(92.2% 0 0);
	--input: oklch(92.2% 0 0);
	--ring: oklch(70.8% 0 0);
	--surface: oklch(98% 0 0);
	--surface-foreground: var(--foreground);
	--code: var(--surface);
	--code-foreground: var(--surface-foreground);
	--code-highlight: oklch(96% 0 0);
	--code-number: oklch(56% 0 0);
	--selection: oklch(14.5% 0 0);
	--selection-foreground: oklch(100% 0 0);
	--gradient: var(--muted), var(--background);
	--spacing: .25rem;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "UrbanSlavic";
	src: url("/fonts/urban-slavic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RecamaU";
	src: url("/fonts/recama-u.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "RecamaU", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--black);
	line-height: 1.2;
	font-family: "UrbanSlavic", sans-serif;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

p {
	margin: 0;
	color: var(--gray);
	font-weight: 300;
	font-size: large;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}

.h-1 {
	height: calc(var(--spacing) * 1);
}

.max-h-1 {
	max-height: calc(var(--spacing) * 1);
}

.h-2 {
	height: calc(var(--spacing) * 2);
}

.max-h-2 {
	max-height: calc(var(--spacing) * 2);
}

.h-3 {
	height: calc(var(--spacing) * 3);
}

.max-h-3 {
	max-height: calc(var(--spacing) * 3);
}

.h-4 {
	height: calc(var(--spacing) * 4);
}

.max-h-4 {
	max-height: calc(var(--spacing) * 4);
}

.h-5 {
	height: calc(var(--spacing) * 5);
}

.max-h-5 {
	max-height: calc(var(--spacing) * 5);
}

.h-6 {
	height: calc(var(--spacing) * 6);
}

.max-h-6 {
	max-height: calc(var(--spacing) * 6);
}

.h-7 {
	height: calc(var(--spacing) * 7);
}

.max-h-7 {
	max-height: calc(var(--spacing) * 7);
}

.h-8 {
	height: calc(var(--spacing) * 8);
}

.max-h-8 {
	max-height: calc(var(--spacing) * 8);
}

.h-9 {
	height: calc(var(--spacing) * 9);
}

.max-h-9 {
	max-height: calc(var(--spacing) * 9);
}

.h-10 {
	height: calc(var(--spacing) * 10);
}

.max-h-10 {
	max-height: calc(var(--spacing) * 10);
}

.h-11 {
	height: calc(var(--spacing) * 11);
}

.max-h-11 {
	max-height: calc(var(--spacing) * 11);
} */